<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'col' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <b2>Email: <%=current_user.email %></b2>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.label :current_password, 'Current password'%> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div>
    <%= f.label :password, 'New password' %> <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%# if @minimum_password_length %>
<!--      <br />-->
<!--      <em><%#= @minimum_password_length %> characters minimum</em>-->
    <%# end %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm new password' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %><br/>
  </div>

  <%= link_to 'Log out', destroy_user_session_path, method: :delete, style: 'float:left' %>
<% end %>
